In [ ]:
import pandas as pd
import pymysql

In [16]:
HOST = "localhost"  # Ví dụ: "127.0.0.1"
PORT = 9030  # Mặc định của StarRocks
USER = "root"
PASSWORD = ""
DATABASE = "event_logs"
QUERY = "SELECT timestamp, user_id, event_name FROM user_events LIMIT 10000"  # Query lấy dữ liệu

# Kết nối tới StarRocks
conn = pymysql.connect(
    host=HOST, port=PORT, user=USER, password=PASSWORD, database=DATABASE
)

# Đọc dữ liệu vào pandas DataFrame
df = pd.read_sql(QUERY, conn)

/tmp/ipykernel_57525/2925452157.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(QUERY, conn)

In [4]:
df.head()

    timestamp user_id                event_name
0  1742356892       0               ev1_ad_show
1  1742356892       0  ev2_notification_receive
2  1742356892       0         ev2_user_rate_app
3  1742356892       1         ev2_session_start
4  1742356892       1           ev2_screen_view

In [5]:
set_user_id = sorted(set(df['user_id']))

In [6]:
print(set_user_id)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [7]:
print(len(set_user_id))

36

In [8]:
# Lua chon
sequence_type = "" # chon 1 trong 2 gia tri: first_seq hoac last_seq
sequence_length_type = "" # chon 1 trong 2 gia tri: short_seq hoac last_seq
sequence_length = 10 # chon so nguyen [1, 1000]
start_item = '' # chon start_item
end_item = '' # chon end_item
exclude_items = [] # list cac event muon exclude

In [ ]:
df_filter_by_start_item = df[df["event_name"] == "ev1_ad_click"]
min_ts = df_filter_by_start_item.groupby("user_id")["timestamp"].min().reset_index()
min_ts.rename(columns={"timestamp": "min_ts"}, inplace=True)

df_filter_by_end_item = df[df["event_name"] == "ev1_ad_click"]
max_ts = df_filter_by_end_item.groupby("user_id")["timestamp"].max().reset_index()
max_ts.rename(columns={"timestamp": "max_ts"}, inplace=True)

min_max_df = pd.merge(min_ts, max_ts, on='user_id', how='inner')

# Hiển thị kết quả
print(min_max_df)

   user_id      min_ts      max_ts
0        0  1742356893  1742365632
1        1  1742356895  1742365637
2        2  1742356895  1742365631
3        3  1742356900  1742365639
4        4  1742356898  1742365632
5        5  1742356892  1742365639
6        6  1742356892  1742365638
7        7  1742356896  1742365629
8        8  1742358992  1742365639
9        9  1742356894  1742365638
10       a  1742358997  1742365631
11       b  1742356896  1742365638
12       c  1742356902  1742365628
13       d  1742356903  1742365632
14       e  1742356900  1742365632
15       f  1742356898  1742365639
16       g  1742356899  1742359059
17       h  1742356894  1742365637
18       i  1742356898  1742365633
19       j  1742356895  1742365629
20       k  1742356897  1742365628
21       l  1742356906  1742365632
22       m  1742356899  1742365636
23       n  1742358994  1742365635
24       o  1742356897  1742365629
25       p  1742356893  1742365637
26       q  1742359007  1742365631
27       r  1742356906  1742365638
28       s  1742356894  1742365636
29       t  1742356897  1742365639
30       u  1742356892  1742365637
31       v  1742356900  1742365638
32       w  1742356901  1742365636
33       x  1742356897  1742365635
34       y  1742356895  1742365627
35       z  1742356892  1742365633